body {
  min-width: 400px;
  /* min-height: 400px; */
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.popup-padded {
  padding: 15px;
  color: #fff;
}

.popup-heading {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 900;
}

.divider {
  margin-bottom: 15px;
}

.popup-text {
  margin: 0;
  margin-bottom: 0.5em;
}

.popup-text:last-of-type {
  margin-bottom: 0;
}
